aiogram==2.24    # Для работы с Telegram Bot API
openai==0.27.8   # Для взаимодействия с OpenAI API
mysql-connector-python==8.0.34  # Для работы с MySQL
pandas==2.1.1    # Если вы планируете анализировать или обрабатывать данные
SQLAlchemy==2.0.18  # Для работы с базой данных (опционально)
python-dotenv==1.0.0  # Для управления конфиденциальными настройками (например, ключи API)
